@media screen and (min-width: 768px) {
   .wrapper {
      max-width: 768px;
      margin: 0 auto;
      padding: 60px 0;
   }
   .frame {
      border: 6px solid var(--brown);
      padding: 60px 50px;
   }
   .form__label {
      font-size: 2.4rem;
      text-align: right;
      margin-bottom: 0px;
   }
   .form__input {
      width: 100%;
      padding: 15px 11px 9px;
   }
   .form-flex-field {
      flex-wrap: nowrap;
   }
   .form-flex-field__label {
      width: auto;
      margin-right: 14px;
      flex-grow: 1;
   }
   .form-flex-field__input {
      max-width: 399px;
   }
   /* RESUME FLEX SECTION */
   .resume-flex-section {
      display: flex;
      justify-content: space-between;
      padding: 0;
   }
   .resume-flex-section__item {
      min-width: 313px;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 35px 0 35px 35px;
   }
   .resume-flex-section__item:nth-child(3) {
      padding-right: 0;
   }
   .resume-flex-section__vertical-line {
      width: 3px;
      height: auto;
      margin: 0;
   }

   .list-item {
      padding-left: 75px;
   }
}