.black {
   color: var(--black);
}
.upper {
   text-transform: uppercase;
}
.bold-upper {
   text-transform: uppercase;
   font-weight: bold;
}
.mb-1 {
   margin-bottom: 16px;
}
.mt-2 {
   margin-top: 32px;
}
.mb-2 {
   margin-bottom: 32px;
}